<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control nzErrorTip="Veuillez saisir votre nom d'utilisateur!">
      <nz-input-group nzPrefixIcon="user">
        <input type="text"  nz-input formControlName="userName" placeholder="Nom d'utilisateur" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Veuillez saisir votre mot de passe!">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input formControlName="password" placeholder="Mot de passe" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <div nz-row class="login-form-margin">
    <div nz-col [nzSpan]="12">
      <label nz-checkbox formControlName="remember">
        <span>Se souvenir de moi</span>
      </label>
    </div>
    <div nz-col [nzSpan]="12">
      <a class="login-form-forgot">Mot de passe oublié ?</a>
    </div>
  </div>
  <button nz-button class="login-form-button login-form-margin" [disabled]='!validateForm.valid' [nzType]="'primary'" >Log in</button>
  Ou <a> Inscrivez-vous maintenant! </a>

</form>

